.reply-panel{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 5em;
	margin-inline: .5em;
	&__title{
		margin-bottom: .5em;
	}
	&__from{
		border-left: double #000;
		padding-left: .3em;
		background-color: #eee;
		height: 3em;
		overflow-y: auto;
		&_user{
			color: #777;
			font-size: .9em;
		}
	}
	&__close{
		position: absolute;
		background-color: #f7dada;
		border: 0;
		top: .3em;
		right: 0;
		padding: .3em .5em;
		transition: .2s;
		&:hover{
			background-color: #ffc9c9;
		}
	}
}